# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import gmaps.datasets
from pprint import pprint
# Import API key
from api_keys import g_key
from api_keys import weather_api_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
file = "../output_data/weather_data.csv"
df = pd.read_csv(file)
df.head(32)

,Unnamed: 0,City,Temperature,Humidity,Cloudiness,Wind Speed (mph),Latitude,Longitude,Country,Datetime
0,0,egvekinot,-6.30,96,71,0.63,66.32,-179.17,RU,1579990858
1,1,san patricio,79.16,65,58,7.52,19.22,-104.70,MX,1579990926
2,2,busselton,65.70,59,1,9.60,-33.65,115.33,AU,1579990927
3,3,punta arenas,51.01,62,0,23.00,-53.15,-70.92,CL,1579990927
4,4,kishtwar,9.45,98,100,3.27,33.32,75.77,IN,1579990927
5,5,carnarvon,78.64,64,0,19.28,-24.87,113.63,AU,1579990928
6,6,ugoofaaru,82.31,68,100,8.21,5.67,73.00,MV,1579990928
7,7,new norfolk,63.39,63,77,1.99,-42.78,147.06,AU,1579990929
8,8,marion,32.25,95,90,17.22,39.77,-86.16,US,1579990929
9,9,kavaratti,81.25,66,77,3.42,10.57,72.64,IN,1579990930
10,10,ahipara,87.01,70,86,1.01,-35.17,173.17,NZ,1579990930
11,11,ribeira grande,54.05,78,100,5.77,38.52,-28.70,PT,1579990900
12,12,mataura,61.81,72,99,1.86,-46.19,168.86,NZ,1579990931
13,13,saskylakh,-16.85,91,100,19.26,71.92,114.08,RU,1579990931
14,14,yellowknife,10.00,84,100,7.63,62.46,-114.35,CA,1579990931
15,15,atuona,80.87,77,61,15.77,-9.80,-139.03,PF,1579990931
16,16,rikitea,78.76,77,36,14.61,-23.12,-134.97,PF,1579990931
17,17,cape town,63.16,88,40,9.17,-33.93,18.42,ZA,1579990931
18,18,itamarandiba,67.93,97,100,7.29,-17.86,-42.86,BR,1579990932
19,19,viedma,74.28,27,2,5.37,-40.81,-63.00,AR,1579990897
20,20,deputatskiy,-40.74,100,59,0.94,69.30,139.90,RU,1579990932
21,21,port elizabeth,68.00,94,75,14.99,-33.92,25.57,ZA,1579990932
22,22,misratah,65.17,46,100,8.23,32.38,15.09,LY,1579991168
23,23,punta cardon,81.32,69,0,18.19,11.66,-70.22,VE,1579990933
24,24,saldanha,66.20,77,33,3.36,-33.01,17.94,ZA,1579990933
25,25,carepa,74.46,96,100,4.16,7.76,-76.65,CO,1579990933
26,26,vanimo,83.03,82,47,13.62,-2.67,141.30,PG,1579990933
27,27,narsaq,15.80,72,100,3.36,60.92,-46.05,GL,1579990933
28,28,takoradi,78.67,77,94,4.29,4.88,-1.76,GH,1579990934
29,29,klaksvik,46.06,83,100,20.80,62.23,-6.59,FO,1579990934
30,30,ushuaia,47.46,57,100,14.94,-54.80,-68.30,AR,1579990934
31,31,saint-philippe,68.50,78,100,17.07,-21.36,55.77,RE,1579990934

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

humid = df["Humidity"].astype(float)
fig = gmaps.figure()
heatmap_layer = gmaps.heatmap_layer(df[['Latitude', 'Longitude',]], weights=humid, dissipating=False,
                                   max_intensity=30, point_radius=1.0)

fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
hotel_df = df.loc[df['Country'] == "AU"]
hotel_df = hotel_df.loc[hotel_df['Temperature'] < 100]
hotel_df = hotel_df.loc[hotel_df['Cloudiness'] < 15]
hotel_df.count()

Unnamed: 0          10
City                10
Temperature         10
Humidity            10
Cloudiness          10
Wind Speed (mph)    10
Latitude            10
Longitude           10
Country             10
Datetime            10
dtype: int64

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [15]:
hotel_df["Hotel Name"] = ""
hotel_df["Hotel Address"] = ""
hotel_df["Hotel Lat"] = ""
hotel_df["Hotel Long"] = ""
hotel_df.head(10)

,Unnamed: 0,City,Temperature,Humidity,Cloudiness,Wind Speed (mph),Latitude,Longitude,Country,Datetime,Hotel Name,Hotel Address,Hotel Lat,Hotel Long
2,2,busselton,65.70,59,1,9.60,-33.65,115.33,AU,1579990927,,,,
5,5,carnarvon,78.64,64,0,19.28,-24.87,113.63,AU,1579990928,,,,
48,48,port hedland,85.55,60,0,8.41,-20.32,118.57,AU,1579990937,,,,
61,61,ballina,77.49,87,0,1.01,-28.87,153.57,AU,1579990755,,,,
103,103,alice springs,71.15,49,0,7.87,-23.70,133.88,AU,1579990946,,,,
247,247,broken hill,68.05,38,0,10.56,-31.95,141.43,AU,1579990969,,,,
390,390,geraldton,72.46,80,0,19.30,-28.77,114.60,AU,1579990987,,,,
403,403,cootamundra,71.80,31,0,4.32,-34.65,148.03,AU,1579990996,,,,
471,471,yulara,73.49,20,0,10.89,-25.24,130.99,AU,1579991009,,,,
534,534,karratha,84.70,75,0,7.47,-20.74,116.85,AU,1579991019,,,,

In [16]:
#base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json&key=g_key"
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
response = requests.get(base_url)

In [19]:

radius = 5000
params = {
    "radius": radius,
    "type": "lodging",
    "keyword": "hotel",
    "key": g_key,
}

# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():

    # get restaurant type from df
    location = str(row['Latitude']) + ',' + str(row['Longitude'])

    # add keyword to params dict
    params['location'] = location

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {location}.")
    
    try:
        response = requests.get(base_url, params=params)
        results = response.json()
        #pprint(results)
        hotel_df.loc[index, 'Hotel Name'] = results['results'][0]['name']
        hotel_df.loc[index, 'Hotel Address'] = results['results'][0]['vicinity']
        hotel_df.loc[index, 'Hotel Lat'] = results['results'][0]['geometry']['location']['lat']
        hotel_df.loc[index, 'Hotel Long'] = results['results'][0]['geometry']['location']['lng']
    except:
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 2: -33.65,115.33.
------------
Retrieving Results for Index 5: -24.87,113.63.
------------
Retrieving Results for Index 48: -20.32,118.57.
------------
Retrieving Results for Index 61: -28.87,153.57.
------------
Retrieving Results for Index 103: -23.7,133.88.
------------
Retrieving Results for Index 247: -31.95,141.43.
------------
Retrieving Results for Index 390: -28.77,114.6.
------------
Retrieving Results for Index 403: -34.65,148.03.
------------
Retrieving Results for Index 471: -25.24,130.99.
------------
Retrieving Results for Index 534: -20.74,116.85.
------------

In [20]:
hotel_df.head()

,Unnamed: 0,City,Temperature,Humidity,Cloudiness,Wind Speed (mph),Latitude,Longitude,Country,Datetime,Hotel Name,Hotel Address,Hotel Lat,Hotel Long
2,2,busselton,65.70,59,1,9.60,-33.65,115.33,AU,1579990927,Esplanade Hotel,"30-38 Marine Terrace, Busselton",-33.647,115.345
5,5,carnarvon,78.64,64,0,19.28,-24.87,113.63,AU,1579990928,Coral Coast Tourist Park,"108 Robinson St, Carnarvon",-24.8795,113.662
48,48,port hedland,85.55,60,0,8.41,-20.32,118.57,AU,1579990937,The Esplanade Hotel,"2 Anderson St, Port Hedland",-20.314,118.576
61,61,ballina,77.49,87,0,1.01,-28.87,153.57,AU,1579990755,Ramada Hotel & Suites by Wyndham Ballina Byron,"2 Martin St, Ballina",-28.8726,153.562
103,103,alice springs,71.15,49,0,7.87,-23.70,133.88,AU,1579990946,DoubleTree by Hilton Hotel Alice Springs,"82 Barrett Dr, Alice Springs",-23.715,133.879

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'narrowed_city_df' is not defined

In [27]:

figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Hotel Lat", "Hotel Long"]]

In [28]:
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)
fig
# Display Map

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wi…